<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis facere, itaque unde, eligendi ea sed dolorem accusantium sint ullam cumque, nisi magnam? Vitae adipisci eligendi aliquam pariatur, alias tenetur?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, soluta non? Voluptatem cumque vel eveniet mollitia laboriosam pariatur nobis. Alias cumque odit nulla soluta aliquam ipsa error corporis esse eligendi.</p>
</body>

</html>